script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.2/ckeditor.js")
script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js")
script(type="text/javascript",src=contextPath + "/scripts/moment-jdateformatparser/moment-jdateformatparser.min.js")
script(type="text/javascript",src=contextPath + "/scripts/gui/jlocaleutils.js")
script(type="text/javascript",src=contextPath + "/scripts/gui/illusion-forum.js")
link(type="text/css",rel="stylesheet",href=contextPath + "/theme/css/illusion-event-common.css")
link(type="text/css",rel="stylesheet",href=contextPath + "/theme/css/illusion-event-forum.css")

