script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js")
script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.4.5/ckeditor.js")
script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js")
script(type="text/javascript",src="//cdnjs.cloudflare.com/ajax/libs/jquery.rest/1.0.2/jquery.rest.min.js")
script(type="text/javascript",src=contextPath + "/scripts/gui/illusion-forum.js")
script(type="text/javascript",src=contextPath + "/scripts/gui/illusion-common.js")
link(type="text/css",rel="stylesheet",href=contextPath + "/theme/css/flex-menu.css")
link(type="text/css",rel="stylesheet",href=contextPath + "/theme/css/illusion-event-common.css")
link(type="text/css",rel="stylesheet",href=contextPath + "/theme/css/illusion-event-forum.css")

